<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Listado <b>Actividades</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success btn-sm" [routerLink]="['add-activities']"><i class="fa fa-plus"></i>Nuevo</button> 
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Empleado</th>
                        <th>Fecha ejecución</th>
                        <th>Hora estimada ejecución</th>
                        <th>Estado</th>
                        <th>Retrado</th>
                        <th>Dias Retrado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activities of listActivities">
                        <td>{{activities.description}}</td>
                        <td>{{activities.employeeId?.firstName}}</td>
                        <td>{{activities.executionDate | date:'M/dd/yyyy'}}</td>
                        <td>{{activities.executionHour}}</td>
                        <td *ngIf="activities.statusActivity == 0 else finalizado;">Pendiente</td>
                        <ng-template #finalizado><td>Terminado</td></ng-template>
                        <td *ngIf="activities.lateDay == 0 else si;">No</td>
                        <ng-template #si><td>Si</td></ng-template>
                        <td>{{activities.lateDay }}</td>
                        <td>
                            <a [routerLink]="['edit-activities', activities]" [state]=activities class="edit" title="Editar" data-toggle="tooltip"><i class="bi bi-pencil-square"></i></a>
                            <a (click)="deleteActivities(activities)" class="delete" title="Eliminar" data-toggle="tooltip"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>
    </div>  
</div> 