<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-3 text-center">Crear Empleado</h3>
          </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombres</label>
            <input type="text" id="nombre" [(ngModel)]="employees.firstName" aria-describedby="Obligatorio" class="form-control" placeholder="Nombres">
            <div class="input-group-prepend">
                <span *ngIf="!employees.firstName" class="input-group-text alert-danger" id="Obligatorio" >Obligatorio</span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="apellido" class="form-label">Apellidos</label>
            <input type="text" id="apellido" [(ngModel)]="employees.lastName" aria-describedby="Obligatorio" class="form-control" placeholder="Apellidos">
            <div class="input-group-prepend">
                <span *ngIf="!employees.lastName" class="input-group-text alert-danger" id="Obligatorio" >Obligatorio</span>
            </div>
          </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" [(ngModel)]="employees.email" aria-describedby="Obligatorio" class="form-control" placeholder="email">
            <div class="input-group-prepend">
                <span *ngIf="!employees.email" class="input-group-text alert-danger" id="Obligatorio" >Obligatorio</span>
            </div>
        </div>
     </div>
      <br>
      <div class="row">
      <div class="form-group">
          <button style="margin-right:10px"  *ngIf="employees.firstName && employees.lastName" class="btn btn-success btn-sm btn-block" (click)="saveEmployees()">Crear</button>
          <button class="btn btn-success btn-sm btn-block" [routerLink]="['/employees']">Volver</button>
      </div>
    </div>
 </div>
